body {
  margin: 0;
  padding: 0;
  background:  #2f2f2f;
  color: white;
  text-align: left;
}

.header {
	margin:auto;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
	position: fixed;
    top: 0;
	left:38%;

}
ul, ol {
	list-style:none;
}
.nav {
	width:500px;
	margin: auto;
  position:fixed;
  left: -40px;
}
.nav > li {
	float:left;
}
.nav li a {
	background-color:#000;
	color:#fff;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.nav li a:hover {
	background-color:#434343;
}
.nav li p:hover{
  background-color:#434343;
}

.nav li ul {
	display:none;
	position:absolute;
	min-width:200px;
}
.nav li:hover > ul {
	display:block;
}
.nav li ul li {
  margin-left: -45px;
	position:relative;
}

.nav li ul li ul {
	right:-200px;
	top:0px;
}



section article{
  background-color: #545454;
}
footer{
  background-color: #000000;
}

a{
  color: #14FF8A;
}

th{
  color: #FFA500;
}

p{
  color: white;
  text-align: center;
  font-family: cursive;
}

header{
  color: #FFA500;
}
h2{
  color: #000075;


}

#comen{
  text-align: left;


}
#requ{
    text-align: left;

}

#titulo{
  font-size: 200%;
  text-decoration: underline;
  text-decoration-style: solid;
}



.recuadro:hover{
    border: red 5px solid ;
  filter: saturate(180%);
}
img{

  border: black 5px solid ;

}
.image:hover{
  border-style: none;
  -webkit-transform:scale(1.3);transform:scale(1.3);
}

#cabeza1{
    text-decoration: underline;
    text-decoration-style: solid;
    color:#FFA500;
}

.link:hover { color: red; }
